<a href="https://colab.research.google.com/github/Gregory-Wong/Healthcare-Model-analysis/blob/main/diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import file as a csv

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving ClassDiabetesDataSet.csv to ClassDiabetesDataSet.csv

# Inital Data Setup

In [ ]:
import io
import pandas as pd
import numpy as np
df = pd.read_csv(io.BytesIO(uploaded ['ClassDiabetesDataSet.csv']))
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       encounter_id  patient_nbr             race  ... change  diabetesMed  readmitted
0           2278392      8222157        Caucasian  ...     No           No          NO
1            149190     55629189        Caucasian  ...     Ch          Yes         >30
2             64410     86047875  AfricanAmerican  ...     No          Yes          NO
3            500364     82442376        Caucasian  ...     Ch          Yes          NO
4             16680     42519267        Caucasian  ...     Ch          Yes          NO
...             ...          ...              ...  ...    ...          ...         ...
65529     182739006      2583225        Caucasian  ...     Ch          Yes          NO
65530     182740098     47162142        Caucasian  ...     No          Yes          NO
65531     182740320     87180561  AfricanAmerican  ...     No           No          NO
65532     182742096     77729049        Caucasian  ...     No          Yes         >30
65533     182742786     95340582        Caucasian  ...     No           No          NO

[65534 rows x 51 columns]

# Data Cleaning

Identify a list of columns to drop 

Add column name to a list 

Drop all unwanted columns

In [ ]:
df.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'encounter_id.1', 'metformin', 'repaglinide', 'nateglinide',
       'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide',
       'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose',
       'miglitol', 'troglitazone', 'tolazamide', 'examide', 'citoglipton',
       'insulin', 'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [ ]:
#create a list of unwanted columns
columns_to_drop=['encounter_id', 'patient_nbr', 'payer_code', 'medical_specialty' , 'encounter_id.1','weight']
columns_to_drop

['encounter_id',
 'patient_nbr',
 'payer_code',
 'medical_specialty',
 'encounter_id.1',
 'weight']

In [ ]:
#remove unwanted columns
df = df.drop(columns=columns_to_drop)
df

                  race  gender  age  ...  change  diabetesMed  readmitted
0            Caucasian  Female    5  ...      No           No          NO
1            Caucasian  Female   15  ...      Ch          Yes         >30
2      AfricanAmerican  Female   25  ...      No          Yes          NO
3            Caucasian    Male   35  ...      Ch          Yes          NO
4            Caucasian    Male   45  ...      Ch          Yes          NO
...                ...     ...  ...  ...     ...          ...         ...
65529        Caucasian  Female   65  ...      Ch          Yes          NO
65530        Caucasian  Female   75  ...      No          Yes          NO
65531  AfricanAmerican  Female   75  ...      No           No          NO
65532        Caucasian  Female   85  ...      No          Yes         >30
65533        Caucasian    Male   55  ...      No           No          NO

[65534 rows x 45 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65534 entries, 0 to 65533
Data columns (total 45 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   race                      64201 non-null  object
 1   gender                    65534 non-null  object
 2   age                       65534 non-null  int64
 3   admission_type_id         65534 non-null  int64
 4   discharge_disposition_id  65534 non-null  int64
 5   admission_source_id       65534 non-null  int64
 6   time_in_hospital          65534 non-null  int64
 7   num_lab_procedures        65534 non-null  int64
 8   num_procedures            65534 non-null  int64
 9   num_medications           65534 non-null  int64
 10  number_outpatient         65534 non-null  int64
 11  number_emergency          65534 non-null  int64
 12  number_inpatient          65534 non-null  int64
 13  diag_1                    65517 non-null  float64
 14  diag_2                    65234 non-null  float64
 15  diag_3                    64323 non-null  float64
 16  number_diagnoses          65534 non-null  int64
 17  max_glu_serum             65534 non-null  object
 18  A1Cresult                 65534 non-null  object
 19  metformin                 65534 non-null  object
 20  repaglinide               65534 non-null  object
 21  nateglinide               65534 non-null  object
 22  chlorpropamide            65534 non-null  object
 23  glimepiride               65534 non-null  object
 24  acetohexamide             65534 non-null  object
 25  glipizide                 65534 non-null  object
 26  glyburide                 65534 non-null  object
 27  tolbutamide               65534 non-null  object
 28  pioglitazone              65534 non-null  object
 29  rosiglitazone             65534 non-null  object
 30  acarbose                  65534 non-null  object
 31  miglitol                  65534 non-null  object
 32  troglitazone              65534 non-null  object
 33  tolazamide                65534 non-null  object
 34  examide                   65534 non-null  object
 35  citoglipton               65534 non-null  object
 36  insulin                   65534 non-null  object
 37  glyburide-metformin       65534 non-null  object
 38  glipizide-metformin       65534 non-null  object
 39  glimepiride-pioglitazone  65534 non-null  object
 40  metformin-rosiglitazone   65534 non-null  object
 41  metformin-pioglitazone    65534 non-null  object
 42  change                    65534 non-null  object
 43  diabetesMed               65534 non-null  object
 44  readmitted                65534 non-null  object
dtypes: float64(3), int64(12), object(30)
memory usage: 22.5+ MB

In [ ]:
df_modified=df
df_modified

                  race  gender  age  ...  change  diabetesMed  readmitted
0            Caucasian  Female    5  ...      No           No          NO
1            Caucasian  Female   15  ...      Ch          Yes         >30
2      AfricanAmerican  Female   25  ...      No          Yes          NO
3            Caucasian    Male   35  ...      Ch          Yes          NO
4            Caucasian    Male   45  ...      Ch          Yes          NO
...                ...     ...  ...  ...     ...          ...         ...
65529        Caucasian  Female   65  ...      Ch          Yes          NO
65530        Caucasian  Female   75  ...      No          Yes          NO
65531  AfricanAmerican  Female   75  ...      No           No          NO
65532        Caucasian  Female   85  ...      No          Yes         >30
65533        Caucasian    Male   55  ...      No           No          NO

[65534 rows x 45 columns]

Fill NA with the mean of the data

In [ ]:
#Fill Na with mean of the column
#Diag 1
df_modified['diag_1'] = df_modified['diag_1'].fillna(df_modified['diag_1'].mean())

#diag_2
df_modified['diag_2'] = df_modified['diag_2'].fillna(df_modified['diag_2'].mean())

#diag_3
df_modified['diag_3'] = df_modified['diag_3'].fillna(df_modified['diag_3'].mean())

Prep data to be used for modeling 
Convert all strings to a int

**Only run time **

In [ ]:
#converting strings to nums
#Max glu serum
df_modified['max_glu_serum'] = df_modified['max_glu_serum'].map({
    '>200':int(0),
    '>300':int(1),
    'None':int(2),
    'Norm':int(3), 
})
#A1Cresult
df_modified['A1Cresult'] = df_modified['A1Cresult'].map({
    '7' :int(0),
    'None' :int(1),
    '8':int(2),
    'Norm':int(3),
})
#metformin
df_modified['metformin'] = df_modified['metformin'].map({
    'Down' :int(0),
    'No' :int(1),
    'Steady' :int(2),
    'Up':int(3),
})

#repaglinide
df_modified['repaglinide'] = df_modified['repaglinide'].map({
    'Down' :int(0),
    'No' :int(1),
    'Steady' :int(2),
    'Up':int(3),
})
#nateglinide
df_modified['nateglinide'] = df_modified['nateglinide'].map({
    'Down' :int(0),
    'No' :int(1),
    'Steady' :int(2),
    'Up':int(3),
})
#Chlorpropamid
df_modified['chlorpropamide'] = df_modified['chlorpropamide'].map({
    'Down' :int(0),
    'No' :int(1),
    'Steady' :int(2),
    'Up':int(3)
})
#Glimepiride
df_modified['glimepiride'] = df_modified['glimepiride'].map({
    'Down' :int(0),
    'No' :int(1),
    'Steady' :int(2),
    'Up':int(3)
})
#acetohaxamide
df_modified['acetohexamide'] = df_modified['acetohexamide'].map({
    'No' :int(0),
    'Steady' :int(1),
})

#glipizide
df_modified['glipizide'] = df_modified['glipizide'].map({
    'Down' :int(0),
    'No' :int(1),
    'Steady' :int(2),
    'Up':int(3)
})
#glyburide
df_modified['glyburide'] = df_modified['glyburide'].map({
    'Down' :int(0),
    'No' :int(1),
    'Steady' :int(2),
    'Up':int(3)
})
#tolbutamide
df_modified['tolbutamide'] = df_modified['tolbutamide'].map({
    'No' :int(0),
    'Steady' :int(1),
})
#pioglitazone
df_modified['pioglitazone'] = df_modified['pioglitazone'].map({
    'Down' :int(0),
    'No' :int(1),
    'Steady' :int(2),
    'Up':int(3)
})
#rosiglitazone
df_modified['rosiglitazone'] = df_modified['rosiglitazone'].map({
    'Down' :int(0),
    'No' :int(1),
    'Steady' :int(2),
    'Up':int(3)
})
#acarbose
df_modified['acarbose'] = df_modified['acarbose'].map({
    'Down' :int(0),
    'No' :int(1),
    'Steady' :int(2),
    'Up':int(3) 
})
#Miglitol
df_modified['miglitol'] = df_modified['miglitol'].map({
    'Down' :int(0),
    'No' :int(1),
    'Steady' :int(2),
    'Up':int(3)
})
#troglitazone
df_modified['troglitazone'] = df_modified['troglitazone'].map({
    'No' :int(0),
    'Steady' :int(1),
})
#tolazamide
df_modified['tolazamide'] = df_modified['tolazamide'].map({
    'No' :int(0),
    'Steady' :int(1),
    'Up' :int(2),
})
#examide
df_modified['examide'] = df_modified['examide'].map({
    'No' :int(0),
})
#citoglipton
df_modified['citoglipton'] = df_modified['citoglipton'].map({
    'No' :int(0),
})
#insulin
df_modified['insulin'] = df_modified['insulin'].map({
    'Down' :int(0),
    'No' :int(1),
    'Steady' :int(2),
    'Up':int(3)
})
#glyburide-metformin
df_modified['glyburide-metformin'] = df_modified['glyburide-metformin'].map({
    'Down' :int(0),
    'No' :int(1),
    'Steady' :int(2),
    'Up':int(3)
})
#glipizide-metformin
df_modified['glipizide-metformin'] = df_modified['glipizide-metformin'].map({
    'No' :int(0),
    'Steady':int(1),
})
#glimepiride-pioglitazone
df_modified['glimepiride-pioglitazone'] = df_modified['glimepiride-pioglitazone'].map({
    'No' :int(0),
})
#Metformin-Rosiglitazone
df_modified['metformin-rosiglitazone'] = df_modified['metformin-rosiglitazone'].map({
    'No' :int(0),})
#Metformin-pioglitazone
df_modified['metformin-pioglitazone'] = df_modified['metformin-pioglitazone'].map({
    'No' :int(0),})
#Change
df_modified['change'] = df_modified['change'].map({
    'No' :int(0),
    'Ch' :int(1),})
#Diabetes Med
df_modified['diabetesMed'] = df_modified['diabetesMed'].map({
    'No' :int(0),
    'Yes' :int(1),})
#Readmitted
df_modified['readmitted'] = df_modified['readmitted'].map({
    'NO' :int(0),
    '<30' :int(1),
    '>30' :int(2),})
df_modified

                  race  gender  age  ...  change  diabetesMed  readmitted
0            Caucasian  Female    5  ...       0            0           0
1            Caucasian  Female   15  ...       1            1           2
2      AfricanAmerican  Female   25  ...       0            1           0
3            Caucasian    Male   35  ...       1            1           0
4            Caucasian    Male   45  ...       1            1           0
...                ...     ...  ...  ...     ...          ...         ...
65529        Caucasian  Female   65  ...       1            1           0
65530        Caucasian  Female   75  ...       0            1           0
65531  AfricanAmerican  Female   75  ...       0            0           0
65532        Caucasian  Female   85  ...       0            1           2
65533        Caucasian    Male   55  ...       0            0           0

[65534 rows x 45 columns]

In [ ]:
df_modified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65534 entries, 0 to 65533
Data columns (total 45 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   race                      64201 non-null  object
 1   gender                    65534 non-null  object
 2   age                       65534 non-null  int64
 3   admission_type_id         65534 non-null  int64
 4   discharge_disposition_id  65534 non-null  int64
 5   admission_source_id       65534 non-null  int64
 6   time_in_hospital          65534 non-null  int64
 7   num_lab_procedures        65534 non-null  int64
 8   num_procedures            65534 non-null  int64
 9   num_medications           65534 non-null  int64
 10  number_outpatient         65534 non-null  int64
 11  number_emergency          65534 non-null  int64
 12  number_inpatient          65534 non-null  int64
 13  diag_1                    65534 non-null  float64
 14  diag_2                    65534 non-null  float64
 15  diag_3                    65534 non-null  float64
 16  number_diagnoses          65534 non-null  int64
 17  max_glu_serum             65534 non-null  int64
 18  A1Cresult                 65534 non-null  int64
 19  metformin                 65534 non-null  int64
 20  repaglinide               65534 non-null  int64
 21  nateglinide               65534 non-null  int64
 22  chlorpropamide            65534 non-null  int64
 23  glimepiride               65534 non-null  int64
 24  acetohexamide             65534 non-null  int64
 25  glipizide                 65534 non-null  int64
 26  glyburide                 65534 non-null  int64
 27  tolbutamide               65534 non-null  int64
 28  pioglitazone              65534 non-null  int64
 29  rosiglitazone             65534 non-null  int64
 30  acarbose                  65534 non-null  int64
 31  miglitol                  65534 non-null  int64
 32  troglitazone              65534 non-null  int64
 33  tolazamide                65534 non-null  int64
 34  examide                   65534 non-null  int64
 35  citoglipton               65534 non-null  int64
 36  insulin                   65534 non-null  int64
 37  glyburide-metformin       65534 non-null  int64
 38  glipizide-metformin       65534 non-null  int64
 39  glimepiride-pioglitazone  65534 non-null  int64
 40  metformin-rosiglitazone   65534 non-null  int64
 41  metformin-pioglitazone    65534 non-null  int64
 42  change                    65534 non-null  int64
 43  diabetesMed               65534 non-null  int64
 44  readmitted                65534 non-null  int64
dtypes: float64(3), int64(40), object(2)
memory usage: 22.5+ MB

Convert floats to int

In [ ]:
floatVar = [ 'diag_1', 'diag_2','diag_3']
for var in floatVar:
  df_modified[var] = df_modified[var].apply(np.int64)

In [ ]:
df_modified = df_modified.select_dtypes(include='int64')

# Separate the dataset by A1C results

None = df_None

Norm = df_Norm

7 = df_7

8 = df_8

In [ ]:
#Split the dataframe by groups 
AC1group = df_modified.groupby(df_modified.A1Cresult)
df_None = AC1group.get_group(1)
df_Norm = AC1group.get_group(3)
df_7 = AC1group.get_group(0)
df_8 =AC1group.get_group(2)

In [ ]:
df_modified.columns

Index(['age', 'admission_type_id', 'discharge_disposition_id',
       'admission_source_id', 'time_in_hospital', 'num_lab_procedures',
       'num_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient', 'diag_1', 'diag_2', 'diag_3',
       'number_diagnoses', 'max_glu_serum', 'A1Cresult', 'metformin',
       'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride',
       'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

# Correlation

In [ ]:
#create a list of variables to use for the correlation test
drugs = df_modified.columns[15:44]
drugs

Index(['max_glu_serum', 'A1Cresult', 'metformin', 'repaglinide', 'nateglinide',
       'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide',
       'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose',
       'miglitol', 'troglitazone', 'tolazamide', 'examide', 'citoglipton',
       'insulin', 'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [ ]:
import matplotlib.pyplot as plt
import math
#function to find the Correlation Coefficient
def corTest(a:pd.Series , var1):
  column_1 = a['readmitted']
  column_2 = a[var1]
  print(var1)
  correlationP = column_1.corr(column_2,method = 'pearson')
  print('Pearson:',correlationP)
  correlationK = column_1.corr(column_2,method = 'kendall')
  print('Kendall:',correlationK)
  correlationS = column_1.corr(column_2,method = 'spearman')
  print('Spearman:',correlationS)
  highest = max(correlationK , correlationP, correlationS)
  return var1, highest

#Loop to feed list into function
#create a list of drug and it's highest correlation coeffiecent
#Step 1 Create List to store the correlation
#Step 2 check if value is nan
#Step 3 Add to List if not nan
highCorr = {}
for drug in drugs:
  corTest(df_modified,drug)
  highDrug = corTest(df_modified,drug)
  nanCheck = math.isnan(highDrug[1])
  if nanCheck == False:
    highCorr[highDrug[0]] = highDrug[1]

max_glu_serum
Pearson: -0.008644799663187397
Kendall: -0.010378962695385869
Spearman: -0.010913864772288019
max_glu_serum
Pearson: -0.008644799663187397
Kendall: -0.010378962695385869
Spearman: -0.010913864772288019
A1Cresult
Pearson: -0.010844623862441479
Kendall: -0.008851628248041607
Spearman: -0.009419323117442271
A1Cresult
Pearson: -0.010844623862441479
Kendall: -0.008851628248041607
Spearman: -0.009419323117442271
metformin
Pearson: -0.017498229303004688
Kendall: -0.017699152887729722
Spearman: -0.018484820830357986
metformin
Pearson: -0.017498229303004688
Kendall: -0.017699152887729722
Spearman: -0.018484820830357986
repaglinide
Pearson: 0.018327414359143732
Kendall: 0.02168512422236489
Spearman: 0.022549886677802042
repaglinide
Pearson: 0.018327414359143732
Kendall: 0.02168512422236489
Spearman: 0.022549886677802042
nateglinide
Pearson: 0.009847839297555077
Kendall: 0.010431098758690143
Spearman: 0.010841734961582382
nateglinide
Pearson: 0.009847839297555077
Kendall: 0.010431098758690143
Spearman: 0.010841734961582382
chlorpropamide
Pearson: 0.00414478517986786
Kendall: 0.0016981853281506695
Spearman: 0.0017651306934305657
chlorpropamide
Pearson: 0.00414478517986786
Kendall: 0.0016981853281506695
Spearman: 0.0017651306934305657
glimepiride
Pearson: 0.009037204892088794
Kendall: 0.01098726432540433
Spearman: 0.011446790539672468
glimepiride
Pearson: 0.009037204892088794
Kendall: 0.01098726432540433
Spearman: 0.011446790539672468
acetohexamide
Pearson: 0.0049385090563733225
Kendall: 0.004658623954347239
Spearman: 0.004841675854171218
acetohexamide
Pearson: 0.0049385090563733225
Kendall: 0.004658623954347239
Spearman: 0.004841675854171218
glipizide
Pearson: 0.013389078018969856
Kendall: 0.013138368025264958
Spearman: 0.013749960303725805
glipizide
Pearson: 0.013389078018969856
Kendall: 0.013138368025264958
Spearman: 0.013749960303725805
glyburide
Pearson: -0.011715993787880278
Kendall: -0.011748966081282973
Spearman: -0.012294934954787687
glyburide
Pearson: -0.011715993787880278
Kendall: -0.011748966081282973
Spearman: -0.012294934954787687
tolbutamide
Pearson: -0.004608689211692383
Kendall: -0.0045778645832618
Spearman: -0.004757743194910848
tolbutamide
Pearson: -0.004608689211692383
Kendall: -0.0045778645832618
Spearman: -0.004757743194910848
pioglitazone
Pearson: 0.023415238830669045
Kendall: 0.02201103889110334
Spearman: 0.02291858485241997
pioglitazone
Pearson: 0.023415238830669045
Kendall: 0.02201103889110334
Spearman: 0.02291858485241997
rosiglitazone
Pearson: 0.012652745089055584
Kendall: 0.013476301030993112
Spearman: 0.014024166399854982
rosiglitazone
Pearson: 0.012652745089055584
Kendall: 0.013476301030993112
Spearman: 0.014024166399854982
acarbose
Pearson: 0.010873601556787692
Kendall: 0.009848937968659696
Spearman: 0.010237074373499732
acarbose
Pearson: 0.010873601556787692
Kendall: 0.009848937968659696
Spearman: 0.010237074373499732
miglitol
Pearson: 0.0035045720239296934
Kendall: 0.0024302929220704986
Spearman: 0.002525866853345767
miglitol
Pearson: 0.0035045720239296934
Kendall: 0.0024302929220704986
Spearman: 0.002525866853345767
troglitazone
Pearson: 0.0036819212035160065
Kendall: 0.003403862457490889
Spearman: 0.0035376108552343448
troglitazone
Pearson: 0.0036819212035160065
Kendall: 0.003403862457490889
Spearman: 0.0035376108552343448
tolazamide
Pearson: -0.005327173843955536
Kendall: -0.00619282574961222
Spearman: -0.006436183799819743
tolazamide
Pearson: -0.005327173843955536
Kendall: -0.00619282574961222
Spearman: -0.006436183799819743
examide
Pearson: nan
Kendall: nan
Spearman: nan
examide
Pearson: nan
Kendall: nan
Spearman: nan
citoglipton
Pearson: nan
Kendall: nan
Spearman: nan
citoglipton
Pearson: nan
Kendall: nan
Spearman: nan
insulin
Pearson: 0.0039425247336816426
Kendall: 0.0020242425541733074
Spearman: 0.0021821209193396466
insulin
Pearson: 0.0039425247336816426
Kendall: 0.0020242425541733074
Spearman: 0.0021821209193396466
glyburide-metformin
Pearson: 0.007287287646330169
Kendall: 0.008057855914312715
Spearman: 0.008375265223693341
glyburide-metformin
Pearson: 0.007287287646330169
Kendall: 0.008057855914312715
Spearman: 0.008375265223693341
glipizide-metformin
Pearson: 0.003609202302207248
Kendall: 0.003429209505964073
Spearman: 0.0035639538684867026
glipizide-metformin
Pearson: 0.003609202302207248
Kendall: 0.003429209505964073
Spearman: 0.0035639538684867026
glimepiride-pioglitazone
Pearson: nan
Kendall: nan
Spearman: nan
glimepiride-pioglitazone
Pearson: nan
Kendall: nan
Spearman: nan
metformin-rosiglitazone
Pearson: nan
Kendall: nan
Spearman: nan
metformin-rosiglitazone
Pearson: nan
Kendall: nan
Spearman: nan
metformin-pioglitazone
Pearson: nan
Kendall: nan
Spearman: nan
metformin-pioglitazone
Pearson: nan
Kendall: nan
Spearman: nan
change
Pearson: 0.04289315825686413
Kendall: 0.04211915536703473
Spearman: 0.04377414866215192
change
Pearson: 0.04289315825686413
Kendall: 0.04211915536703473
Spearman: 0.04377414866215192
diabetesMed
Pearson: 0.05847950023954672
Kendall: 0.05758035648571211
Spearman: 0.05984286871046807
diabetesMed
Pearson: 0.05847950023954672
Kendall: 0.05758035648571211
Spearman: 0.05984286871046807
readmitted
Pearson: 0.9999999999999999
Kendall: 1.0
Spearman: 1.0
readmitted
Pearson: 0.9999999999999999
Kendall: 1.0
Spearman: 1.0

In [ ]:
#Look at dictionary and find the top 2 highest neg and highest pos
highCorr

{'A1Cresult': -0.008851628248041607,
 'acarbose': 0.010873601556787692,
 'acetohexamide': 0.0049385090563733225,
 'change': 0.04377414866215192,
 'chlorpropamide': 0.00414478517986786,
 'diabetesMed': 0.05984286871046807,
 'glimepiride': 0.011446790539672468,
 'glipizide': 0.013749960303725805,
 'glipizide-metformin': 0.003609202302207248,
 'glyburide': -0.011715993787880278,
 'glyburide-metformin': 0.008375265223693341,
 'insulin': 0.0039425247336816426,
 'max_glu_serum': -0.008644799663187397,
 'metformin': -0.017498229303004688,
 'miglitol': 0.0035045720239296934,
 'nateglinide': 0.010841734961582382,
 'pioglitazone': 0.023415238830669045,
 'readmitted': 1.0,
 'repaglinide': 0.022549886677802042,
 'rosiglitazone': 0.014024166399854982,
 'tolazamide': -0.005327173843955536,
 'tolbutamide': -0.0045778645832618,
 'troglitazone': 0.0036819212035160065}

In [ ]:
#'glyburide': -0.011715993787880278
#'metformin': -0.017498229303004688
highNeg = ['glyburide', 'metformin']
#'diabetesMed': 0.05984286871046807
#'change': 0.04377414866215192
highPos = ['diabetesMed', 'change']

#Function to calculate the r2/correlation of the three variables based on A1C results to readmittance rate
def multipleCorr(var1 , a:pd.Series):
  cor = a.corr()
  xz = cor.loc[var1[0],'readmitted']
  yz = cor.loc[var1[1],'readmitted']
  xy = cor.loc[var1[0],var1[1]]
  Rxyz = math.sqrt((abs(xz**2) + abs(yz**2) - 2*xz*yz*xy) / (1-abs(xy**2)) )
  R2 = Rxyz**2

  n = len(a)
  k= 2
  R2_adj = 1 - ( ((1-R2)*(n-1)) / (n-k-1) )
  return R2

print('The top two highest correlation for increasing readdmission')
print(multipleCorr(highPos, df_modified))
print(multipleCorr(highPos, df_Norm))
print(multipleCorr(highPos, df_7))
print(multipleCorr(highPos, df_8))

print('The top two highest correlation for decreasing readdmission')
print(multipleCorr(highNeg, df_modified))
print(multipleCorr(highNeg, df_Norm))
print(multipleCorr(highNeg, df_7))
print(multipleCorr(highNeg, df_8))

# Prep for model analysis

## Splitting the datasets

In [ ]:
from sklearn.model_selection import train_test_split
#function to split the data set
def splitX(a:pd.Series, var1):
  x = a.drop([var1], axis = 1)
  return x

def splitY(a:pd.Series, var1):
    y = a.pop(var1)
    return y

In [ ]:
#split the datasets
#Modified
xMod = splitX(df_modified,'readmitted')
yMod = splitX(df_modified,'readmitted')

#A1C result None
xNone = splitX(df_None,'readmitted')
yNone = splitY(df_None,'readmitted')

#A1C result Norm
xNorm = splitX(df_Norm,'readmitted')
yNorm = splitY(df_Norm,'readmitted')

#A1C result 7
x7 = splitX(df_7,'readmitted')
y7 = splitY(df_7,'readmitted')

#A1C result 8
x8 = splitX(df_8,'readmitted')
y8 = splitY(df_8,'readmitted')

## Function to show results

In [ ]:
def showRes(scores):
  print('Accuracy on Train set',scores[0])
  print('Accuracy on Test set',scores[1])
  print('F1-score on Test set:',scores[2])

# Navie Bayes Model

In [ ]:
from sklearn.datasets import load_iris
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import RandomizedSearchCV
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB

#Navie Bayes function
def navieBayes(xtrain, xtest, ytest, ytrain):
  sc = StandardScaler()
  xtrain = sc.fit_transform(xtrain)
  xtest = sc.transform(xtest)
  NB_model = GaussianNB()
  # fit the model
  NB_model.fit(xtrain, ytrain)

  y_predict_NB = NB_model.predict(xtest)

  # model score
  predict_train_NB = NB_model.predict(xtrain)
  predict_test_NB = NB_model.predict(xtest)

  # accuracy score
  NB_train_score = NB_model.score(xtrain,ytrain)
  NB_test_score = NB_model.score(xtest,ytest)

  # f1-score
  NB_f1_score = metrics.f1_score(ytest,predict_test_NB, average='micro')
  NB_recall = metrics.recall_score(ytest, predict_test_NB, average='micro')

  print(metrics.classification_report(y_test, predict_test_NB))
  return NB_train_score, NB_test_score, NB_f1_score, NB_recall

# Linear Discriminant Analysis

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
#LDA function
def LDA(xtrain, xtest, ytest, ytrain):
  LDA = LinearDiscriminantAnalysis(solver='svd')
  # fit the model
  LDA.fit(xtrain, ytrain)

  y_predict_LDA = LDA.predict(xtest)

  # model score
  predict_train_LDA = LDA.predict(xtrain)
  predict_test_LDA = LDA.predict(xtest)

  # accuracy score
  LDA_train_score = LDA.score(xtrain,ytrain)
  LDA_test_score = LDA.score(xtest,ytest)

  # f1-score
  LDA_f1_score = metrics.f1_score(ytest,predict_test_LDA, average ='weighted')
  LDA_recall = metrics.recall_score(ytest, predict_test_LDA, average = 'weighted')

  print(metrics.classification_report(ytest, predict_test_LDA))
  return LDA_train_score, LDA_test_score, LDA_f1_score, LDA_recall

# Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
#Logistic Regression Function
def logReg(xtrain, xtest, ytest, ytrain):
  LR_model = LogisticRegression(max_iter=2000)

  # fit the model
  LR_model.fit(xtrain, ytrain)

  y_predict_LR = LR_model.predict(xtest)

  # model score
  predict_train_LR = LR_model.predict(xtrain)
  predict_test_LR = LR_model.predict(xtest)

  # accuracy score
  LR_train_score = LR_model.score(xtrain,ytrain)
  LR_test_score = LR_model.score(xtest,ytest)

  # f1-score
  LR_f1_score = metrics.f1_score(ytest,predict_test_LR, average= 'micro')
  LR_recall = metrics.recall_score(ytest,predict_test_LR, average = 'micro')

  print(metrics.classification_report(ytest, predict_test_LR))
  return LR_train_score, LR_test_score, LR_f1_score, LR_recall

# Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier
def decTree(xtrain, xtest, ytest, ytrain):
  DT_model= DecisionTreeClassifier()

  # fit the model
  DT_model.fit(xtrain,ytrain)

  # model score
  predict_train_DT = DT_model.predict(xtrain)
  predict_test_DT = DT_model.predict(xtest)

  # accuracy score
  DT_train_score = DT_model.score(xtrain,ytrain)
  DT_test_score = DT_model.score(xtest,ytest)

  # f1-score
  DT_f1_score = metrics.f1_score(ytest, predict_test_DT, average = 'weighted')
  DT_recall = metrics.recall_score(ytest, predict_test_DT, average = 'weighted')
  
  print(metrics.classification_report(ytest, predict_test_DT))
  return DT_train_score, DT_test_score, DT_f1_score, DT_recall

#Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

def ranFor(xtrain, xtest, ytest, ytrain):
  # create object model
  RF_model = RandomForestClassifier()

  # fit the model
  RF_model.fit(xtrain,ytrain)

  # model score
  predict_train_RF = RF_model.predict(xtrain)
  predict_test_RF = RF_model.predict(xtest)

  # accuracy score
  RF_train_score = RF_model.score(xtrain,ytrain)
  RF_test_score = RF_model.score(xtest,ytest)

  # f1-score
  RF_f1_score = metrics.f1_score(ytest,predict_test_RF, average = 'micro')
  RF_recall = metrics.recall_score(ytest,predict_test_RF, average ='micro')

  print(metrics.classification_report(ytest,predict_test_RF))
  return RF_train_score, RF_test_score, RF_f1_score, RF_recall

# Navie Bayes Results

In [ ]:
# where A1C results is None
x_train, x_test, y_train, y_test = train_test_split(xNone, yNone, test_size=0.30, random_state=1)
NBscore = navieBayes(x_train, x_test, y_test, y_train)
showRes(NBscore)

              precision    recall  f1-score   support

           0       0.67      0.00      0.00      8709
           1       0.12      1.00      0.21      1966
           2       0.43      0.00      0.00      5967

    accuracy                           0.12     16642
   macro avg       0.40      0.33      0.07     16642
weighted avg       0.52      0.12      0.03     16642

Accuracy on Train set 0.11689114367386881
Accuracy on Test set 0.11945679605816609
F1-score on Test set: 0.11945679605816609

In [ ]:
#where A1C results is Norm
x_train, x_test, y_train, y_test = train_test_split(xNorm, yNorm, test_size=0.30, random_state=1)
NBscore =navieBayes(x_train, x_test, y_test, y_train)
showRes(NBscore)

              precision    recall  f1-score   support

           0       0.45      0.01      0.02       445
           1       0.10      0.93      0.19        88
           2       0.33      0.01      0.03       284

    accuracy                           0.11       817
   macro avg       0.30      0.32      0.08       817
weighted avg       0.37      0.11      0.04       817

Accuracy on Train set 0.10661764705882353
Accuracy on Test set 0.11138310893512852
F1-score on Test set: 0.11138310893512852

In [ ]:
#where A1C results is 7
x_train, x_test, y_train, y_test = train_test_split(x7, y7, test_size=0.30, random_state=1)
NBscore = navieBayes(x_train, x_test, y_test, y_train)
showRes(NBscore)

              precision    recall  f1-score   support

           0       0.25      0.00      0.01       334
           1       0.11      0.99      0.20        69
           2       0.38      0.01      0.03       221

    accuracy                           0.12       624
   macro avg       0.25      0.33      0.08       624
weighted avg       0.28      0.12      0.03       624

Accuracy on Train set 0.11493461803165864
Accuracy on Test set 0.11538461538461539
F1-score on Test set: 0.11538461538461539

In [ ]:
#where A1C results is 8
x_train, x_test, y_train, y_test = train_test_split(x8, y8, test_size=0.30, random_state=1)
NBscore = navieBayes(x_train, x_test, y_test, y_train)
showRes(NBscore)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       870
           1       0.10      0.98      0.18       162
           2       0.48      0.02      0.04       547

    accuracy                           0.11      1579
   macro avg       0.19      0.33      0.07      1579
weighted avg       0.18      0.11      0.03      1579

Accuracy on Train set 0.10640608034744843
Accuracy on Test set 0.10639645345155162
F1-score on Test set: 0.10639645345155162

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# Linear Discriminant Analysis

In [ ]:
# where A1C results is None
x_train, x_test, y_train, y_test = train_test_split(xNone, yNone, test_size=0.30, random_state=1)
LDAscore = LDA(x_train, x_test, y_test, y_train)
showRes(LDAscore)

              precision    recall  f1-score   support

           0       0.57      0.89      0.69      8709
           1       0.37      0.05      0.09      1966
           2       0.49      0.23      0.31      5967

    accuracy                           0.55     16642
   macro avg       0.48      0.39      0.36     16642
weighted avg       0.52      0.55      0.48     16642

Accuracy on Train set 0.5536555844557184
Accuracy on Test set 0.5508352361495013
F1-score on Test set: 0.48347036041535113

In [ ]:
#where A1C results is Norm
x_train, x_test, y_train, y_test = train_test_split(xNorm, yNorm, test_size=0.30, random_state=1)
LDAscore =LDA(x_train, x_test, y_test, y_train)
showRes(LDAscore)

              precision    recall  f1-score   support

           0       0.57      0.90      0.70       445
           1       0.00      0.00      0.00        88
           2       0.42      0.17      0.24       284

    accuracy                           0.55       817
   macro avg       0.33      0.36      0.31       817
weighted avg       0.46      0.55      0.46       817

Accuracy on Train set 0.601890756302521
Accuracy on Test set 0.5483476132190942
F1-score on Test set: 0.4647384623642904

In [ ]:
#where A1C results is 7
x_train, x_test, y_train, y_test = train_test_split(x7, y7, test_size=0.30, random_state=1)
LDAscore = LDA(x_train, x_test, y_test, y_train)
showRes(LDAscore)

              precision    recall  f1-score   support

           0       0.57      0.85      0.68       334
           1       0.00      0.00      0.00        69
           2       0.44      0.24      0.31       221

    accuracy                           0.54       624
   macro avg       0.33      0.36      0.33       624
weighted avg       0.46      0.54      0.48       624

Accuracy on Train set 0.5980729525120441
Accuracy on Test set 0.5400641025641025
F1-score on Test set: 0.475436506499134

In [ ]:
#where A1C results is 8
x_train, x_test, y_train, y_test = train_test_split(x8, y8, test_size=0.30, random_state=1)
LDAscore = LDA(x_train, x_test, y_test, y_train)
showRes(LDAscore)

              precision    recall  f1-score   support

           0       0.61      0.84      0.71       870
           1       0.17      0.02      0.03       162
           2       0.50      0.34      0.41       547

    accuracy                           0.58      1579
   macro avg       0.43      0.40      0.38      1579
weighted avg       0.53      0.58      0.54      1579

Accuracy on Train set 0.5958197611292074
Accuracy on Test set 0.5826472450918303
F1-score on Test set: 0.5351660325626769

# Logistic Regression Results

In [ ]:
# where A1C results is None
x_train, x_test, y_train, y_test = train_test_split(xNone, yNone, test_size=0.30, random_state=1)
LRscore = logReg(x_train, x_test, y_test, y_train)
showRes(LRscore)

              precision    recall  f1-score   support

           0       0.57      0.87      0.69      8709
           1       0.38      0.01      0.03      1966
           2       0.48      0.26      0.34      5967

    accuracy                           0.55     16642
   macro avg       0.48      0.38      0.35     16642
weighted avg       0.51      0.55      0.48     16642

Accuracy on Train set 0.5574412196440988
Accuracy on Test set 0.551195769739214
F1-score on Test set: 0.551195769739214

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
#where A1C results is Norm
x_train, x_test, y_train, y_test = train_test_split(xNorm, yNorm, test_size=0.30, random_state=1)
LRscore =logReg(x_train, x_test, y_test, y_train)
showRes(LRscore)

              precision    recall  f1-score   support

           0       0.57      0.90      0.70       445
           1       0.00      0.00      0.00        88
           2       0.48      0.21      0.29       284

    accuracy                           0.56       817
   macro avg       0.35      0.37      0.33       817
weighted avg       0.48      0.56      0.48       817

Accuracy on Train set 0.6034663865546218
Accuracy on Test set 0.5605875152998776
F1-score on Test set: 0.5605875152998776

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
#where A1C results is 7
x_train, x_test, y_train, y_test = train_test_split(x7, y7, test_size=0.30, random_state=1)
LRscore = logReg(x_train, x_test, y_test, y_train)
showRes(LRscore)

              precision    recall  f1-score   support

           0       0.57      0.84      0.68       334
           1       0.00      0.00      0.00        69
           2       0.46      0.28      0.34       221

    accuracy                           0.55       624
   macro avg       0.34      0.37      0.34       624
weighted avg       0.47      0.55      0.49       624

Accuracy on Train set 0.5960082587749483
Accuracy on Test set 0.5464743589743589
F1-score on Test set: 0.5464743589743589

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
#where A1C results is 8
x_train, x_test, y_train, y_test = train_test_split(x8, y8, test_size=0.30, random_state=1)
LRscore = logReg(x_train, x_test, y_test, y_train)
showRes(LRscore)

              precision    recall  f1-score   support

           0       0.62      0.86      0.72       870
           1       0.25      0.01      0.01       162
           2       0.52      0.35      0.42       547

    accuracy                           0.60      1579
   macro avg       0.46      0.41      0.38      1579
weighted avg       0.55      0.60      0.54      1579

Accuracy on Train set 0.6034201954397395
Accuracy on Test set 0.5959468017732742
F1-score on Test set: 0.5959468017732742

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

# Decision Tree Results

In [ ]:
# where A1C results is None
x_train, x_test, y_train, y_test = train_test_split(xNone, yNone, test_size=0.30, random_state=1)
DTscore = decTree(x_train, x_test, y_test, y_train)
showRes(DTscore)

              precision    recall  f1-score   support

           0       0.58      0.57      0.57      8709
           1       0.15      0.15      0.15      1966
           2       0.41      0.42      0.42      5967

    accuracy                           0.47     16642
   macro avg       0.38      0.38      0.38     16642
weighted avg       0.47      0.47      0.47     16642

Accuracy on Train set 1.0
Accuracy on Test set 0.4659295757721428
F1-score on Test set: 0.4670413727278232

In [ ]:
#where A1C results is Norm
x_train, x_test, y_train, y_test = train_test_split(xNorm, yNorm, test_size=0.30, random_state=1)
DTscore = decTree(x_train, x_test, y_test, y_train)
showRes(DTscore)

              precision    recall  f1-score   support

           0       0.59      0.59      0.59       445
           1       0.14      0.14      0.14        88
           2       0.39      0.39      0.39       284

    accuracy                           0.47       817
   macro avg       0.37      0.37      0.37       817
weighted avg       0.47      0.47      0.47       817

Accuracy on Train set 1.0
Accuracy on Test set 0.4700122399020808
F1-score on Test set: 0.469893314446558

In [ ]:
#where A1C results is 7
x_train, x_test, y_train, y_test = train_test_split(x7, y7, test_size=0.30, random_state=1)
DTscore = decTree(x_train, x_test, y_test, y_train)
showRes(DTscore)

              precision    recall  f1-score   support

           0       0.59      0.55      0.57       334
           1       0.11      0.12      0.11        69
           2       0.37      0.40      0.39       221

    accuracy                           0.45       624
   macro avg       0.36      0.36      0.36       624
weighted avg       0.46      0.45      0.46       624

Accuracy on Train set 1.0
Accuracy on Test set 0.4519230769230769
F1-score on Test set: 0.4556920117364626

In [ ]:
#where A1C results is 8
x_train, x_test, y_train, y_test = train_test_split(x8, y8, test_size=0.30, random_state=1)
DTscore = decTree(x_train, x_test, y_test, y_train)
showRes(DTscore)

              precision    recall  f1-score   support

           0       0.63      0.60      0.62       870
           1       0.16      0.16      0.16       162
           2       0.42      0.45      0.44       547

    accuracy                           0.51      1579
   macro avg       0.40      0.41      0.40      1579
weighted avg       0.51      0.51      0.51      1579

Accuracy on Train set 0.999728555917481
Accuracy on Test set 0.5053831538948702
F1-score on Test set: 0.5079884955516608

# Random Forest Results

In [ ]:
# where A1C results is None
x_train, x_test, y_train, y_test = train_test_split(xNone, yNone, test_size=0.30, random_state=1)
RFscore = ranFor(x_train, x_test, y_test, y_train)
showRes(RFscore)

              precision    recall  f1-score   support

           0       0.60      0.80      0.69      8709
           1       0.40      0.01      0.02      1966
           2       0.49      0.41      0.44      5967

    accuracy                           0.57     16642
   macro avg       0.50      0.41      0.38     16642
weighted avg       0.54      0.57      0.52     16642

Accuracy on Train set 1.0
Accuracy on Test set 0.5666386251652445
F1-score on Test set: 0.5666386251652445

In [ ]:
#where A1C results is Norm
x_train, x_test, y_train, y_test = train_test_split(xNorm, yNorm, test_size=0.30, random_state=1)
RFscore = ranFor(x_train, x_test, y_test, y_train)
showRes(RFscore)

              precision    recall  f1-score   support

           0       0.58      0.88      0.70       445
           1       0.00      0.00      0.00        88
           2       0.47      0.23      0.31       284

    accuracy                           0.56       817
   macro avg       0.35      0.37      0.34       817
weighted avg       0.48      0.56      0.49       817

Accuracy on Train set 1.0
Accuracy on Test set 0.5605875152998776
F1-score on Test set: 0.5605875152998776

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
#where A1C results is 7
x_train, x_test, y_train, y_test = train_test_split(x7, y7, test_size=0.30, random_state=1)
RFscore = ranFor(x_train, x_test, y_test, y_train)
showRes(RFscore)

              precision    recall  f1-score   support

           0       0.59      0.84      0.69       334
           1       0.00      0.00      0.00        69
           2       0.45      0.30      0.36       221

    accuracy                           0.56       624
   macro avg       0.35      0.38      0.35       624
weighted avg       0.48      0.56      0.50       624

Accuracy on Train set 1.0
Accuracy on Test set 0.5560897435897436
F1-score on Test set: 0.5560897435897436

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
#where A1C results is 8
x_train, x_test, y_train, y_test = train_test_split(x8, y8, test_size=0.30, random_state=1)
RFscore = ranFor(x_train, x_test, y_test, y_train)
showRes(RFscore)

              precision    recall  f1-score   support

           0       0.63      0.81      0.71       870
           1       0.00      0.00      0.00       162
           2       0.48      0.41      0.45       547

    accuracy                           0.59      1579
   macro avg       0.37      0.41      0.39      1579
weighted avg       0.52      0.59      0.55      1579

Accuracy on Train set 0.999728555917481
Accuracy on Test set 0.5889803673210893
F1-score on Test set: 0.5889803673210893

# Model Comparison

In [ ]:
 def modelCom(DTscore, RFscore, LRscore, LDAscore, NBscore): 
  model_compare = pd.DataFrame({
    
  'Models':['Desicion Tree','RandomForestClassifier','LogisticRegression','LinearDiscriminantAnalysis','Naive_Bayes'],
  'f1_score':[DTscore[2], RFscore[2], LRscore[2], LDAscore[2], NBscore[2]],
  'recall':[DTscore[3], RFscore[3], LRscore[3], LDAscore[3], NBscore[3]],
  'Accuracy on train set':[DTscore[0],RFscore[0],LRscore[0],LDAscore[0],NBscore[0]],
  'Accuracy on test set':[DTscore[1], RFscore[1],LRscore[1],LDAscore[1],NBscore[1]]

  })

  model_compare = model_compare.sort_values('recall',ascending=False)
  return model_compare

In [ ]:
# where A1C results is None
x_train, x_test, y_train, y_test = train_test_split(xNone, yNone, test_size=0.30, random_state=1)
LDAscore = LDA(x_train, x_test, y_test, y_train)
LRscore = logReg(x_train, x_test, y_test, y_train)
NBscore = navieBayes(x_train, x_test, y_test, y_train)
DTscore = decTree(x_train, x_test, y_test, y_train)
RFscore = ranFor(x_train, x_test, y_test, y_train)
modelNone = modelCom(DTscore, RFscore, LRscore, LDAscore, NBscore)
modelNone

              precision    recall  f1-score   support

           0       0.57      0.89      0.69      8709
           1       0.37      0.05      0.09      1966
           2       0.49      0.23      0.31      5967

    accuracy                           0.55     16642
   macro avg       0.48      0.39      0.36     16642
weighted avg       0.52      0.55      0.48     16642

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

              precision    recall  f1-score   support

           0       0.57      0.87      0.69      8709
           1       0.38      0.01      0.03      1966
           2       0.48      0.26      0.34      5967

    accuracy                           0.55     16642
   macro avg       0.48      0.38      0.35     16642
weighted avg       0.51      0.55      0.48     16642

              precision    recall  f1-score   support

           0       0.67      0.00      0.00      8709
           1       0.12      1.00      0.21      1966
           2       0.43      0.00      0.00      5967

    accuracy                           0.12     16642
   macro avg       0.40      0.33      0.07     16642
weighted avg       0.52      0.12      0.03     16642

              precision    recall  f1-score   support

           0       0.58      0.56      0.57      8709
           1       0.16      0.16      0.16      1966
           2       0.40      0.42      0.41      5967

    accuracy                           0.46     16642
   macro avg       0.38      0.38      0.38     16642
weighted avg       0.47      0.46      0.47     16642

              precision    recall  f1-score   support

           0       0.60      0.80      0.69      8709
           1       0.38      0.01      0.02      1966
           2       0.49      0.41      0.44      5967

    accuracy                           0.57     16642
   macro avg       0.49      0.41      0.39     16642
weighted avg       0.54      0.57      0.52     16642

                       Models  ...  Accuracy on test set
1      RandomForestClassifier  ...              0.567600
2          LogisticRegression  ...              0.551196
3  LinearDiscriminantAnalysis  ...              0.550835
0               Desicion Tree  ...              0.464127
4                 Naive_Bayes  ...              0.119457

[5 rows x 5 columns]

In [ ]:
#where A1C results is Norm
x_train, x_test, y_train, y_test = train_test_split(xNorm, yNorm, test_size=0.30, random_state=1)
LDAscore = LDA(x_train, x_test, y_test, y_train)
LRscore = logReg(x_train, x_test, y_test, y_train)
NBscore = navieBayes(x_train, x_test, y_test, y_train)
DTscore = decTree(x_train, x_test, y_test, y_train)
RFscore = ranFor(x_train, x_test, y_test, y_train)
modelNorm = modelCom(DTscore, RFscore, LRscore, LDAscore, NBscore)
modelNorm

              precision    recall  f1-score   support

           0       0.57      0.90      0.70       445
           1       0.00      0.00      0.00        88
           2       0.42      0.17      0.24       284

    accuracy                           0.55       817
   macro avg       0.33      0.36      0.31       817
weighted avg       0.46      0.55      0.46       817

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

           0       0.57      0.90      0.70       445
           1       0.00      0.00      0.00        88
           2       0.48      0.21      0.29       284

    accuracy                           0.56       817
   macro avg       0.35      0.37      0.33       817
weighted avg       0.48      0.56      0.48       817

              precision    recall  f1-score   support

           0       0.45      0.01      0.02       445
           1       0.10      0.93      0.19        88
           2       0.33      0.01      0.03       284

    accuracy                           0.11       817
   macro avg       0.30      0.32      0.08       817
weighted avg       0.37      0.11      0.04       817

              precision    recall  f1-score   support

           0       0.59      0.60      0.59       445
           1       0.10      0.10      0.10        88
           2       0.37      0.36      0.37       284

    accuracy                           0.46       817
   macro avg       0.35      0.35      0.35       817
weighted avg       0.46      0.46      0.46       817

              precision    recall  f1-score   support

           0       0.60      0.88      0.71       445
           1       0.00      0.00      0.00        88
           2       0.49      0.28      0.36       284

    accuracy                           0.58       817
   macro avg       0.36      0.39      0.36       817
weighted avg       0.50      0.58      0.51       817

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

                       Models  ...  Accuracy on test set
1      RandomForestClassifier  ...              0.575275
2          LogisticRegression  ...              0.560588
3  LinearDiscriminantAnalysis  ...              0.548348
0               Desicion Tree  ...              0.461444
4                 Naive_Bayes  ...              0.111383

[5 rows x 5 columns]

In [ ]:
#where A1C results is 7
x_train, x_test, y_train, y_test = train_test_split(x7, y7, test_size=0.30, random_state=1)
LDAscore = LDA(x_train, x_test, y_test, y_train)
LRscore = logReg(x_train, x_test, y_test, y_train)
NBscore = navieBayes(x_train, x_test, y_test, y_train)
DTscore = decTree(x_train, x_test, y_test, y_train)
RFscore = ranFor(x_train, x_test, y_test, y_train)
model7 = modelCom(DTscore, RFscore, LRscore, LDAscore, NBscore)
model7

              precision    recall  f1-score   support

           0       0.57      0.85      0.68       334
           1       0.00      0.00      0.00        69
           2       0.44      0.24      0.31       221

    accuracy                           0.54       624
   macro avg       0.33      0.36      0.33       624
weighted avg       0.46      0.54      0.48       624

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

              precision    recall  f1-score   support

           0       0.57      0.84      0.68       334
           1       0.00      0.00      0.00        69
           2       0.46      0.28      0.34       221

    accuracy                           0.55       624
   macro avg       0.34      0.37      0.34       624
weighted avg       0.47      0.55      0.49       624

              precision    recall  f1-score   support

           0       0.25      0.00      0.01       334
           1       0.11      0.99      0.20        69
           2       0.38      0.01      0.03       221

    accuracy                           0.12       624
   macro avg       0.25      0.33      0.08       624
weighted avg       0.28      0.12      0.03       624

              precision    recall  f1-score   support

           0       0.60      0.58      0.59       334
           1       0.09      0.09      0.09        69
           2       0.38      0.39      0.38       221

    accuracy                           0.46       624
   macro avg       0.35      0.35      0.35       624
weighted avg       0.46      0.46      0.46       624

              precision    recall  f1-score   support

           0       0.59      0.84      0.69       334
           1       0.00      0.00      0.00        69
           2       0.48      0.32      0.38       221

    accuracy                           0.56       624
   macro avg       0.36      0.39      0.36       624
weighted avg       0.49      0.56      0.51       624

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

                       Models  ...  Accuracy on test set
1      RandomForestClassifier  ...              0.564103
2          LogisticRegression  ...              0.546474
3  LinearDiscriminantAnalysis  ...              0.540064
0               Desicion Tree  ...              0.459936
4                 Naive_Bayes  ...              0.115385

[5 rows x 5 columns]

In [ ]:
#where A1C results is 8
x_train, x_test, y_train, y_test = train_test_split(x8, y8, test_size=0.30, random_state=1)
LDAscore = LDA(x_train, x_test, y_test, y_train)
LRscore = logReg(x_train, x_test, y_test, y_train)
NBscore = navieBayes(x_train, x_test, y_test, y_train)
DTscore = decTree(x_train, x_test, y_test, y_train)
RFscore = ranFor(x_train, x_test, y_test, y_train)
model8 = modelCom(DTscore, RFscore, LRscore, LDAscore, NBscore)
model8

              precision    recall  f1-score   support

           0       0.61      0.84      0.71       870
           1       0.17      0.02      0.03       162
           2       0.50      0.34      0.41       547

    accuracy                           0.58      1579
   macro avg       0.43      0.40      0.38      1579
weighted avg       0.53      0.58      0.54      1579

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

           0       0.62      0.86      0.72       870
           1       0.25      0.01      0.01       162
           2       0.52      0.35      0.42       547

    accuracy                           0.60      1579
   macro avg       0.46      0.41      0.38      1579
weighted avg       0.55      0.60      0.54      1579

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       870
           1       0.10      0.98      0.18       162
           2       0.48      0.02      0.04       547

    accuracy                           0.11      1579
   macro avg       0.19      0.33      0.07      1579
weighted avg       0.18      0.11      0.03      1579

              precision    recall  f1-score   support

           0       0.64      0.61      0.62       870
           1       0.18      0.17      0.17       162
           2       0.42      0.46      0.44       547

    accuracy                           0.51      1579
   macro avg       0.41      0.41      0.41      1579
weighted avg       0.51      0.51      0.51      1579

              precision    recall  f1-score   support

           0       0.64      0.82      0.72       870
           1       0.00      0.00      0.00       162
           2       0.50      0.42      0.46       547

    accuracy                           0.60      1579
   macro avg       0.38      0.41      0.39      1579
weighted avg       0.53      0.60      0.55      1579

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

                       Models  ...  Accuracy on test set
1      RandomForestClassifier  ...              0.598480
2          LogisticRegression  ...              0.595947
3  LinearDiscriminantAnalysis  ...              0.582647
0               Desicion Tree  ...              0.511716
4                 Naive_Bayes  ...              0.106396

[5 rows x 5 columns]