<a href="https://colab.research.google.com/github/Gregory-Wong/Healthcare-Model-analysis/blob/main/Naive_BayesLinear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#setting up initial packages
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import RandomizedSearchCV
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB

In [ ]:
#load in dataset
from google.colab import files
import io
uploaded = files.upload()

Saving linear.csv to linear.csv

In [ ]:
#create/view dataframe
df = pd.read_csv(io.BytesIO(uploaded['linear.csv']))
df.head()

   Year  Data_Value  ...  Confidence_Limit_High  Break_out
0  2011         1.6  ...                    2.2     Female
1  2011         1.7  ...                    2.0     Female
2  2011         1.7  ...                    2.1     Female
3  2011         1.8  ...                    2.1     Female
4  2011         1.8  ...                    2.2     Female

[5 rows x 6 columns]

**Data Cleaning**

In [ ]:
#convert to string
df['Break_out'] = df['Break_out'].map({
    'Male' :int(0),
    'Female' :int(1),
    'Elderly Group' :int(2),
    'Hispanic' :int(3),
    'Middle Group' :int(4),
    'Non-Hispanic Asian' :int(5),
    'Non-Hispanic Black' :int(6),
    'Non-Hispanic White' :int(7),
    'Other' :int(8),
    'Overall' :int(9),
    'Young group' :int(10),
    'Young Group' :int(10)})

df

       Year  Data_Value  ...  Confidence_Limit_High  Break_out
0      2011         1.6  ...                    2.2          1
1      2011         1.7  ...                    2.0          1
2      2011         1.7  ...                    2.1          1
3      2011         1.8  ...                    2.1          1
4      2011         1.8  ...                    2.2          1
...     ...         ...  ...                    ...        ...
85790  2015        97.7  ...                   98.3         10
85791  2015        97.7  ...                   98.1         10
85792  2015        97.8  ...                   98.2         10
85793  2015        98.1  ...                   98.7         10
85794  2015        98.1  ...                   98.4         10

[85795 rows x 6 columns]

In [ ]:
#check for null values
df.isna().sum()

Year                         0
Data_Value               28768
Data_Value_Alt               0
Confidence_Limit_Low     30162
Confidence_Limit_High    30162
Break_out                    0
dtype: int64

In [ ]:
#Fill Na with mean of the column
#Confidence Limit High
df['Confidence_Limit_High'] = df['Confidence_Limit_High'].fillna(df['Confidence_Limit_High'].mean())

#Confidence Limit Low
df['Confidence_Limit_Low'] = df['Confidence_Limit_Low'].fillna(df['Confidence_Limit_Low'].mean())

#Data Value
df['Data_Value'] = df['Data_Value'].fillna(df['Data_Value'].mean())

In [ ]:
#check for null values again
df.isna().sum()

Year                     0
Data_Value               0
Data_Value_Alt           0
Confidence_Limit_Low     0
Confidence_Limit_High    0
Break_out                0
dtype: int64

In [ ]:
#look at data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85795 entries, 0 to 85794
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   85795 non-null  int64
 1   Data_Value             85795 non-null  float64
 2   Data_Value_Alt         85795 non-null  float64
 3   Confidence_Limit_Low   85795 non-null  float64
 4   Confidence_Limit_High  85795 non-null  float64
 5   Break_out              85795 non-null  int64
dtypes: float64(4), int64(2)
memory usage: 3.9 MB

In [ ]:
#converty float to in
df['Data_Value_Alt'] = df['Data_Value_Alt'].astype(int)
df['Data_Value'] = df['Data_Value'].astype(int)
df['Confidence_Limit_Low'] = df['Confidence_Limit_Low'].astype(int)
df['Confidence_Limit_High'] = df['Confidence_Limit_High'].astype(int)

In [ ]:
#Check data type agin
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85795 entries, 0 to 85794
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   85795 non-null  int64
 1   Data_Value             85795 non-null  int64
 2   Data_Value_Alt         85795 non-null  int64
 3   Confidence_Limit_Low   85795 non-null  int64
 4   Confidence_Limit_High  85795 non-null  int64
 5   Break_out              85795 non-null  int64
dtypes: int64(6)
memory usage: 3.9 MB

In [ ]:
#stat breakdown
df.describe()

               Year    Data_Value  ...  Confidence_Limit_High     Break_out
count  85795.000000  85795.000000  ...           85795.000000  85795.000000
mean    2013.000117     33.073198  ...              36.275529      5.272452
std        1.414181     23.439054  ...              23.755623      3.319036
min     2011.000000      0.000000  ...               0.000000      0.000000
25%     2012.000000     16.000000  ...              20.000000      2.000000
50%     2013.000000     33.000000  ...              36.000000      5.000000
75%     2014.000000     33.000000  ...              37.000000      8.000000
max     2015.000000     99.000000  ...              99.000000     10.000000

[8 rows x 6 columns]

In [ ]:
#Split data set
x = df.drop(['Data_Value'], axis = 1)
y = df.pop('Data_Value')

In [ ]:
#Split the dataset
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=1)

Navie Bayes Model

In [ ]:
#scale the data 
#string to float caucasian
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [ ]:
#preform LDA
NB_model = GaussianNB()

# fit the model
NB_model.fit(x_train, y_train)

y_predict_NB = NB_model.predict(x_test)

# model score
predict_train_NB = NB_model.predict(x_train)
predict_test_NB = NB_model.predict(x_test)

# accuracy score
NB_train_score = NB_model.score(x_train,y_train)
NB_test_score = NB_model.score(x_test,y_test)

# f1-score
NB_f1_score = metrics.f1_score(y_test,predict_test_NB, average=None)
NB_recall = metrics.recall_score(y_test, predict_test_NB, average=None)

print('Accuracy on Train set',NB_train_score)
print('Accuracy on Test set',NB_test_score)
print('F1-score on Test set:',NB_f1_score)
print(metrics.classification_report(y_test, predict_test_NB))

Accuracy on Train set 0.992190622086053
Accuracy on Test set 0.9912972531955399
F1-score on Test set: [0.83018868 0.97832817 0.98933902 0.9893438  0.98028552 0.98231827
 0.99143207 0.98919568 0.98412698 0.97662338 0.98998569 0.99365079
 0.9955157  0.99095023 0.98492462 0.99481865 0.99270073 0.9800995
 0.98525074 0.99164345 0.97391304 0.97852029 0.98617512 0.99775281
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         0.98748883 1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.         0.98901099 1.
 1.         1.         1.         1.         1.         1.
 1.         1.         1.         1.        ]
              precision    recall  f1-score   support

           0       1.00      0.71      0.83        62
           1       1.00      0.96      0.98       165
           2       1.00      0.98      0.99       711
           3       1.00      0.98      0.99       901
           4       1.00      0.96      0.98       750
           5       1.00      0.97      0.98       518
           6       1.00      0.98      0.99       412
           7       1.00      0.98      0.99       421
           8       1.00      0.97      0.98       448
           9       1.00      0.95      0.98       394
          10       1.00      0.98      0.99       353
          11       1.00      0.99      0.99       317
          12       1.00      0.99      1.00       224
          13       1.00      0.98      0.99       223
          14       1.00      0.97      0.98       202
          15       1.00      0.99      0.99       194
          16       1.00      0.99      0.99       207
          17       1.00      0.96      0.98       205
          18       1.00      0.97      0.99       172
          19       1.00      0.98      0.99       181
          20       1.00      0.95      0.97       177
          21       1.00      0.96      0.98       214
          22       1.00      0.97      0.99       220
          23       1.00      1.00      1.00       223
          24       1.00      1.00      1.00       240
          25       1.00      1.00      1.00       258
          26       1.00      1.00      1.00       309
          27       1.00      1.00      1.00       293
          28       1.00      1.00      1.00       315
          29       1.00      1.00      1.00       325
          30       1.00      1.00      1.00       321
          31       1.00      1.00      1.00       294
          32       1.00      1.00      1.00       272
          33       0.98      1.00      0.99      8840
          34       1.00      1.00      1.00       245
          35       1.00      1.00      1.00       262
          36       1.00      1.00      1.00       249
          37       1.00      1.00      1.00       163
          38       1.00      1.00      1.00       166
          39       1.00      1.00      1.00       136
          40       1.00      1.00      1.00       134
          41       1.00      1.00      1.00        93
          42       1.00      1.00      1.00       100
          43       1.00      1.00      1.00        85
          44       1.00      1.00      1.00        64
          45       1.00      1.00      1.00        54
          46       1.00      1.00      1.00        45
          47       1.00      1.00      1.00        41
          48       1.00      1.00      1.00        40
          49       1.00      1.00      1.00        25
          50       1.00      1.00      1.00        41
          51       1.00      1.00      1.00        42
          52       1.00      1.00      1.00        39
          53       1.00      1.00      1.00        42
          54       1.00      1.00      1.00        53
          55       1.00      1.00      1.00        38
          56       1.00      1.00      1.00        45
          57       1.00      1.00      1.00        55
          58       1.00      1.00      1.00        64
          59       1.00      1.00      1.00        50
          60       1.00      1.00      1.00        57
          61       1.00      1.00      1.00        70
          62       1.00      1.00      1.00        44
          63       1.00      1.00      1.00        54
          64       1.00      1.00      1.00        71
          65       1.00      1.00      1.00        75
          66       1.00      1.00      1.00        66
          67       1.00      1.00      1.00        79
          68       1.00      1.00      1.00        81
          69       1.00      1.00      1.00        91
          70       1.00      1.00      1.00        91
          71       1.00      1.00      1.00       101
          72       1.00      1.00      1.00       111
          73       1.00      1.00      1.00       138
          74       1.00      1.00      1.00       138
          75       1.00      1.00      1.00       131
          76       1.00      1.00      1.00       158
          77       1.00      1.00      1.00       159
          78       1.00      1.00      1.00       157
          79       1.00      1.00      1.00       160
          80       1.00      1.00      1.00       177
          81       1.00      1.00      1.00       147
          82       1.00      1.00      1.00       153
          83       1.00      1.00      1.00       152
          84       1.00      1.00      1.00       135
          85       1.00      1.00      1.00       136
          86       1.00      1.00      1.00        98
          87       1.00      1.00      1.00        85
          88       1.00      0.98      0.99        46
          89       1.00      1.00      1.00        44
          90       1.00      1.00      1.00        42
          91       1.00      1.00      1.00        48
          92       1.00      1.00      1.00        56
          93       1.00      1.00      1.00        86
          94       1.00      1.00      1.00       160
          95       1.00      1.00      1.00       159
          96       1.00      1.00      1.00       119
          97       1.00      1.00      1.00        84
          98       1.00      1.00      1.00        41
          99       1.00      1.00      1.00         7

    accuracy                           0.99     25739
   macro avg       1.00      0.99      1.00     25739
weighted avg       0.99      0.99      0.99     25739